

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: auto 1fr auto;
}

main {
    min-height: 100vh;
    background-color: black;
    background-image: url(/images/background-img.jpg);
    background-size: cover;
    padding-bottom: 80px;
    background-attachment: fixed;
    background-position-y: 100px;
}

main h1, h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.grid-wrap h3 {
    padding-bottom: 24px;
}

.content-container {
    width: 100%;
    max-width: 1246px;
    margin: auto;
    background-color: #212121;
    border-radius: 30px;
    height: fit-content;
    box-shadow: inset 0px 0px 20px black;
}

/* BREADCRUMBS */ 

.breadcrumbs-checkout {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    background-color: #2A2A2B;
    height: fit-content;
    border-radius: 30px 0px 30px 0px;
    padding: 1em;
    justify-content: space-around;
    z-index: 0;
    filter: drop-shadow(0px 0px 20px black);
    margin: -20px -20px;
}

.breadcrumbs-checkout a {
    color: cyan;
    padding: 10px;
}

/* INPUTS */

.form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding-bottom: 80px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.payment-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    
}

.expiry-cvc {
    display: flex;
    justify-content: space-evenly;
}

.input-wrap input {
        display: block;
        margin: 16px auto;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: none;
        box-shadow: inset 0px 0px 5px 2px black;
}

.payment-wrap input {
        display: block;
        margin: 16px auto;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: none;
        box-shadow: inset 0px 0px 5px 2px black;
}

::placeholder {
    padding-left: 20px;
}

/* GRID */

.grid-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 72px 72px 0px 72px;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-evenly;
    padding: 40px 24px 24px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.cart-product-image img {
    max-width: 136px;
}

.info-p p {
    padding-top: 16px;
}

.rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.order-summary {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding-top: 40px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.order-summary h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 1.2em;
}

.summary {
    margin: 12px auto 72px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
    justify-content: space-between;
}

.summary-value {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.payment-wrap a {
    text-align: center;
    padding-top: 40px;
}

button {
    border: none;
    background: none;
    color: black;
    font-weight: 1000;
    width: 80%;
    background-color: #cc721d;
    height: 56px;
    margin-bottom: 40px;
}

button:hover {
    cursor: pointer;
    background-color: #cc951d;
    filter: drop-shadow(0px 0px 10px #cc951d);
}

button:active {
    transform: scale(0.9);
}




















@media (max-width: 350px) {
    .account-icon, .cart-icon {
        margin: 0px;
    }
}

@media (max-width: 500px) {
    .product-section {
        flex-wrap: wrap;
    }
    .grid-wrap {
        padding: 24px;
    }
 }

@media (max-width: 700px) {
    #search {
        order: 6;
        width: 100%;
        margin: 10px auto 10px;
         
    }
}

@media (max-width: 780px) {
   .grid-wrap {
       flex-direction: column;
   }
}