
/* NAV */

.nav-header {
    height: fit-content;
    background-color: #000812;
    padding: 10px;
}

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1266px;
    margin: auto;
    padding: 0px 20px;
    align-items: center;
}

.account-icon {
    order: 4;
    margin-left: 20px;
}

.account-icon img, .cart-icon img {
    padding: 10px 10px;
}

.cart-icon {
    order: 5;
    margin-right: 10px;

}

#search {
    order: 4;
    width: 45%;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    margin-left: -5px;
}

.wrap-hamburger-nav {
    position: stick;
    order: 1;
}

.logo-wrap {
    order: 2;
}

.hamburger-nav {
    display: none;
    position: absolute;
    background-color: #000812;
    width: 60%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px cyan;
    z-index: 100;
}

.hamburger-nav a {
    display: block;
    width: 100%;
    padding: 24px 0px;
    border-radius: 20px;
}

.hamburger-nav a:hover {
    background-color: rgba(0, 255, 255, 0.144);
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked + .hamburger-nav {
    display: block;
}

/* MAIN */


main {
    min-height: 100vh;
    background-color: black;
    background-image: url(../);
}

.content-container {
    width: 100%;
    max-width: 1246px;
    margin: auto;
    background-color: #212121;
    border-radius: 30px;
    height: fit-content; /* change this later */
    box-shadow: inset 0px 0px 20px black;
}

.breadcrumbs-product {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    background-color: #2A2A2B;
    height: fit-content;
    border-radius: 30px 0px 30px 0px;
    padding: 1em;
    justify-content: space-around;
    z-index: 0;
    filter: drop-shadow(0px 0px 20px black);
    margin: -20px -20px;
    text-align: center;
}

.flex-wrap {
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    grid-template-areas: 
    'image-container product-information'
    'condition-option add-to-cart';
    gap: 30px;
}

.image-container {
    grid-area: image-container;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}


.image-container img {
    width: 50%;
    padding: 20px 80px;
}

.product-information {
    grid-area: product-information;
}

.condition-option {
    grid-area: condition-option;
}

.add-to-cart {
    grid-area: add-to-cart;
}

.product-image-thumbnails {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.in-game-images {
    border-radius: 30px;
    width: 100%;
}

h1 {
    padding-bottom: 20px;
}

.product-text {
    padding-bottom: 20px;
}

.product-information label {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

/* RATING */

.product-rating {
    padding-bottom: 20px;
}

.product-rating p {
    display: inline;
    color: white;
    padding-left: 10px;
}

/* PRICE */

.price {
    font-size: 1.5em;
}

/* ADD TO FAVORITES */

.heart-icon-unchecked {
    width: 30px;
    display: inline;
}

.heart-icon-checked {
    width: 30px;
    display: none;
}

#add-to-favorites {
    display: none;
}

#add-to-favorites:checked + .heart-icon-unchecked {
    display: none;
}

#add-to-favorites:checked + .heart-icon-checked {
    display: block;
}


/* CONDITION SECTION */

.condition-option {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: inset 0px 0px 10px black;
    border-radius: 20px;
}

#condition-new, #condition-pre-owned, #condition-digital {
    display: none;
}

.condition-option label {
    padding: 16px;
    border: 1px solid cyan;
    border-radius: 16px;
    width: 15%;
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px cyan;
}

/* RADIO BUTTONS CHECKED */

#condition-new:checked + label {
    box-shadow: inset 0px 0px 15px #D95F23;
    border: #D95F23;
}

#condition-pre-owned:checked + label {
    box-shadow: inset 0px 0px 15px #D95F23;
    border: #D95F23;
}

#condition-digital:checked + label {
    box-shadow: inset 0px 0px 15px #D95F23;
    border: #D95F23;
}

/* BUTTON */

button {
    border: none;
    background: none;
    color: white;
    width: 100%;
    background-color: #cc461d;
    height: 56px;
    margin-bottom: 40px;
    font-size: 1.2em;
    
}

.add-to-cart {
    padding-top: 30px;
    padding-bottom: 0px;
}

button:hover {
    cursor: pointer;
    background-color: #cc371d;
}

button:active {
    transform: scale(0.9);
}

/* MORE LIKE THIS */ 

.more-like-this {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 56px;
}

.more-like-this p {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: cyan;
}

.more-like-this-images {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding-bottom: 80px;
}

.more-like-this-images img {
    width: 80%;
    max-width: 300px;
    border-radius: 12px;
}

/* MEDIA QUERIES */ 

@media (max-width: 350px) {
    .account-icon, .cart-icon {
        margin: 0px;
         
    }
}

@media (max-width: 850px) {
    .flex-wrap {
        display: flex;
        flex-direction: column;
    }
    .add-to-cart {
        padding: 0px;
    }
}


@media (max-width: 700px) {
    #search {
        order: 6;
        width: 100%;
        margin: 10px auto 10px;
         
    }
}