

/* HEADER */

.nav-header {
    height: fit-content;
    background-color: #000812;
    padding: 10px;
}

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1266px;
    margin: auto;
    padding: 0px 20px;
    align-items: center;
}

.account-icon {
    order: 4;
    margin-left: 20px;
}

.account-icon img, .cart-icon img {
    padding: 10px 10px;
}

.cart-icon {
    order: 5;
    margin-right: 10px;

}

#search {
    order: 4;
    width: 45%;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    margin-left: -5px;
}

.wrap-hamburger-nav {
    position: stick;
    order: 1;
}

.logo-wrap {
    order: 2;
}

.hamburger-nav {
    display: none;
    position: absolute;
    background-color: #000812;
    width: 60%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px cyan;
    z-index: 100;
}

.hamburger-nav a {
    display: block;
    width: 100%;
    padding: 24px 0px;
    border-radius: 20px;
}

.hamburger-nav a:hover {
    background-color: rgba(0, 255, 255, 0.144);
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked + .hamburger-nav {
    display: block;
}

/* MAIN */

main {
    min-height: 100vh;
    background-image: url(/images/background-img.jpg);
    background-size: cover;
    padding-bottom: 80px;
    background-attachment: fixed;
    background-position-y: 100px;
}

.content-container {
    width: 100%;
    max-width: 1246px;
    margin: auto;
    background-color: #212121;
    border-radius: 30px;
    height: 900px;
    box-shadow: inset 0px 0px 20px black;
}

.breadcrumbs-login {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    background-color: #2A2A2B;
    height: fit-content;
    border-radius: 30px 0px 30px 0px;
    padding: 1em;
    justify-content: space-around;
    z-index: 0;
    filter: drop-shadow(0px 0px 20px black);
    margin: -20px -20px;
}

.breadcrumbs-login a {
    color: cyan;
    padding: 10px;
}

.content-container h1 {
    padding: 80px 0px 40px;
    text-align: center;
}

.input-wrap {
    display: block;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: fit-content;
}

.input-wrap a {
    display: block;
}

.input-wrap #signed-in-checkbox, .signed-in-label {
    text-transform:initial;
    margin: 12px 0px 12px;
}

#email, #password, #name, #password-2 {
    display: block;
    margin: 24px auto;
    height: 48px;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 2px black;
}

::placeholder {
    padding-left: 20px;
}

.button-section {
    width: 90%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-section button {
   border: none;
   background: none;
   color: #cc461d;
   position: relative;
   z-index: -1;
}



/* MEDIA QUERIES */

@media (max-width: 700px) {
    #search {
        order: 6;
        width: 100%;
        margin: 10px auto 10px;
         
    }
}


@media (max-width: 350px) {
    .account-icon, .cart-icon {
        margin: 0px;
         
    }
}