@font-face {
    font-family: 'nulshock', 'Montserrat';
    src: url(../fonts/nulshock\ bd.ttf);
    src: url(../fonts/Montserrat-Regular.ttf);
}

h1 {
    font-family: 'nulshock', Arial, sans-serif;
    color: white;
    font-size: 24px;
}

p {
    font-family: 'Montserrat';
    color: white;
    font-weight: lighter;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

label {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

ul {
    font-family: 'Montserrat';
    text-transform: uppercase;
}

/* Header */

header {
    height: 100px;
    background-color: #000812;
    align-content: center;
    padding-top: 20px;
}


.navbar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1246px;
    margin: auto;
}

.navbar-ul a {
    display: inline-block;
    padding: 5px; /* For easier clicking */
}

.left-nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.header-navbar-item-1 {
    margin-right: 50px;
}

.header-navbar-item-2 {
    margin-left: 50px;
}

li {
    list-style: none;
}

.container-searchbar {
    display: flex;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.searchbar {
    width: 80%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    max-width: 450px;
}

::placeholder {
    text-align: center;
    font-family: 'Montserrat';
}

/* Hamburger menu */

.hamburger-img {
    filter: drop-shadow(0px 0px 8px #0ED6D6);
    top: 0;
    position: sticky;
    z-index: 100;
}

.hamburger-img:hover {
    transform: scale(1.2);
}

#hamburger-menu {
    display: none;
    position: sticky;
}

.dropdown-menu {
    display: none;
    padding-top: 65px;
    max-width: 500px;
    filter: drop-shadow(0px 0px 20px black);
    z-index: 100;
}

.dropdown-menu a {
    padding: 20px;
    width: 100%;
    margin: 0px auto 8px auto;
    background-color: #181A21;
    color: #0ED6D6;
    text-decoration: none;
}


.dropdown-menu a:hover {
    background-color: #0ed6d63f;
}

.dropdown-menu a:active {
    background-color: rgba(0, 255, 255, 0.5);
}

.nav-menu-item {
    z-index: 100;
}

#hamburger-menu:checked + .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #000812;
    width: 80%;
}


/* Logo */



/* Cart icon */


/* Main section */

.hero-image {
    background-image: url(/images/hero-image.svg);
    background-color: black;
    size: cover;
    min-height: 112px;
    padding-top: 44px;
    text-align: center;
}

.hero-text {
    margin-left: auto;
    margin-right: auto;
}


/* Main */

main {
    background-color: black;
    position: sticky;
}


.background-img {
    background-image: url(/images/background-img.svg);
    position: relative;
    z-index: -99;
    background-repeat: no-repeat;
}



/* Category menu - checkbox method */

#category-menu {
    display: none;
}

.category-section {
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

.category-menu {
    display: flex;
    background-color: #2A2A2B;
    width: 100%;
    height: 56px;
    max-width: 1246px;
    margin: auto;
    color: #0ED6D6;
    text-align: center;
    padding: 20px;
    filter: drop-shadow(0px 0px 20px black);
    z-index: 0;
}

.category-list {
    background-color: #000812;
    margin-top: 56px;
    display: block;
    color: #0ED6D6;
    position: absolute;
    width: 100%;
    max-width: 600px;
    z-index: -1;
    filter: drop-shadow(0px 0px 20px black);
}

.category-items {
    display: flex;
    flex-direction: column;
}

span {
    margin: auto;
    padding-right: 45px;
}

.category-li-item {
    background-color: #181A21;
    text-align: center;
    width: 100%;
    padding: 16px;

}

.grid-container {
    width: 100%;
    z-index: -2;
    max-width: 1246px;
    background-color: #212121;
    margin: auto;
    position: relative;
    top: -56px;
    height: fit-content;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px 5px black;
}



/* Category nav */

.category-list {
    display: none;
}

#category-menu:checked + .category-list {
    display: block;
}

/* Main grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 76px 40px 110px;
    justify-content: center;
}

.grid-item {
    display: block;
    margin: auto;
}

.grid-item a {
    display: block;
    justify-content: center;
}

.cover-img {
    width: 100%;
    max-width: 200px;
}

.stars {
    padding-left: 15px;
}

.grid-item p {
    padding: 5px 0px 0px 16px;
    margin-bottom: 10px;
}

/* Reviews section */

.reviews-section {
    min-height: 439px;
    max-height: 736px;
    width: 100%;
    background-color: #2A2A2B;
    border-radius: 25px;
    max-width: 1246px;
    margin: -80px auto 0px auto;
    box-shadow: 0px 0px 20px 10px black;
    display: flex;
    position: relative;
}

.reviews-container {
    width: 70%;
    height: 70%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'customer-service customer-service'
    'review-1 review-2';
}

.customer-service {
    grid-area: customer-service;
    min-height: 95px;
    background-color: #000812;
    border-radius: 25px;
    margin-bottom: 40px;
    padding-top: 1em;
    filter: drop-shadow(0px 0px 5px black);
}

.customer-service h1 {
    text-align: center;
    color: #F2D027;
    padding-bottom: 8px;
}

.customer-service p {
    text-align: center;
    color: #F2D027;
}

/* Reviews */

.review-1 {
    grid-area: review-1 ;
    background-color: #000812;
    min-height: 176px;
    min-width: 136px;
    margin-right: 1.5em;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 5px black);
    padding: 20px;
    text-align: center;
}

.review-stars {
    display: block;
    min-height: 10px;
    height: 100%;
    max-height: 12px;
    margin: 4px auto 4px;
}

.review-pic {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 100px;
    border-radius: 50%;

}

.review-2 {
    grid-area: review-2;
    background-color: #000812;
    min-height: 176px;
    min-width: 136px;
    margin-left: 1.5em;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 5px black);
    padding: 20px;
    text-align: center;
    
}

/* Game of the year */

.game-of-the-year {
    background-color: #212121;
    margin: -20px auto;
    padding-top: 120px;
    text-align: center;
    max-width: 1246px;
    z-index: -1;
}

.assassin a img{
    max-width: 317px;
    margin: auto auto 80px auto;
}

.assassin img:hover {
    border: cyan solid 2px;
}

.game-of-the-year h1 {
    margin-bottom: 24px;
    color: #F2D027;
}


/* Footer */

.footer {
    height: 240px;
    max-width: 1246px;
    border-radius: 25px 25px 0 0;
    background-color: #2A2A2B;
    padding: 40px;
    position: relative;
    margin: auto;
    filter: drop-shadow(0px 0px 20px black);
}

.footer a {
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    background-color: black;
}



@media (min-width: 1246px) {
     .category-menu {
        border-radius: 25px;
     }
    }

@media (min-width: 1246px) {
    .left-nav {
           margin-left: 0px;
    }

    .right-nav {
            margin-right: 0px;
     }
    }

@media (min-width: 1000px) {
    .container-searchbar {
        margin: auto;
        margin-top: -60px;
    }
}

@media (max-width: 1000px) {
    header {
        height: 150px;
    }

    .navbar-ul {
        display: flex;
        justify-content: space-between;
    }

    .header-navbar-item-1 .header-navbar-item-2 .left-nav .right-nav {
        padding: 0px;
        margin: 0px;
    }
}

/* Grid rows */

@media (max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }